.padded {
    padding: 1rem;
}

.container {
    font-weight: 200;
}

.footer {
    font-size: 0.7rem;
    text-align: center;
}

.right_column {
    text-align: right;
    padding: 1rem;
}

.left_column {
    font-weight: 600;
    text-align: left;
    padding: 1rem;
}

.message {
    font-size: 0.8rem;
    font-weight: 200;
}

table {
    background-color: transparent;
    margin-bottom: 1rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

table th,
table td {
    padding: 0.75rem;
}

table th {
    background-color: rgb(0, 26, 77);
    color: white;
    vertical-align: middle;
}

tbody tr:nth-of-type(odd) {
    background-color: rgb(179, 208, 255, 0.3)
}

.price {
    font-size: 3rem;
}