{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="container padded">
    <p class="mainText">Input your desired vehicle criteria here</p>
    <div class="section">
        <form action="/predict" method="post" id="predictionForm">
            <div class="mb-3">
                <select name="brand" id="brand">
                    {% for brand in brand_list %}
                    <option value="{{ brand }}">{{ brand }}</option>
                    {% endfor %}
            </div>
            <div class="mb-3">
                <input autocomplete="on" class="form-control mx-auto w-auto" name="model" placeholder="Model" type="text">
            </div>
            <div class="mb-3">
                <input autocomplete="on" class="form-control mx-auto w-auto" name="fuel-type" placeholder="Fuel Type" type="text">
            </div>
            <div class="mb-3">
                <input autocomplete="on" class="form-control mx-auto w-auto" name="transmission" placeholder="Transmission" type="text">
            </div>
            <div class="mb-3">
                <input autocomplete="off" class="form-control mx-auto w-auto" name="mileage" placeholder="Mileage (km)" type="number">
            </div>
            <div class="mb-3">
                <input autocomplete="on" class="form-control mx-auto w-auto" name="engine-capacity" placeholder="Engine Capacity (cc)" type="number">
            </div>
            <div class="mb-3">
                <input autocomplete="on" class="form-control mx-auto w-auto" name="yom" placeholder="Year of Manufacture" type="number">
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" type="submit"> Predict </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
